
@{
    ViewData["Title"] = "Bàn ăn";
    Layout = "~/Views/Shared/_Layout_Private.cshtml";

    IEnumerable<Banan> tableList = ViewData["TableList"] as IEnumerable<Banan>;
}

<div class="table">
    <div class="title">
        Tình trạng bàn ăn
        <span></span>
    </div>
    <div class="content pt-5">
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-light table">
                <thead>
                    <tr class="text-white" style="background-color: var(--primary-color);">
                        <th style="min-width: 50px;" class="text-center">Mã bàn ăn</th>
                        <th style="min-width: 120px;" class="text-center">Tên bàn ăn</th>
                        <th style="min-width: 96px;" class="text-center">Sức chứa</th>
                        <th style="min-width: 106px;" class="text-center">Tình trạng</th>
                        <th style="min-width: 110px;" class="text-center">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Banan table in tableList)
                    {
                        <tr>
                            <td class="text-center align-middle">@table.MaBanAn</td>
                            <td class="text-center align-middle">Bàn @table.MaBanAn</td>
                            <td class="text-center align-middle">@table.SucChua người</td>
                            
                            @if ( table.TinhTrang.Equals("Trống") ){
                                <td id="table-state-@table.MaBanAn" class="text-center align-middle text-success">@table.TinhTrang</td>
                            } else if ( table.TinhTrang.Equals("Đang sử dụng") )
                            {
                                <td id="table-state-@table.MaBanAn" class="text-center align-middle text-danger">@table.TinhTrang</td>
                            } else if ( table.TinhTrang.Equals("Đặt hẹn trước") )
                            {
                                <td id="table-state-@table.MaBanAn" class="text-center align-middle text-primary">@table.TinhTrang</td>
                            } else
                            {
                                <td id="table-state-@table.MaBanAn" class="text-center align-middle text-warning">@table.TinhTrang</td>
                            }

                            <td class="text-center align-middle">
                                <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                    data-placement="top" title="Sử dụng" data-id="@table.MaBanAn" onclick="setTableState('Đang sử dụng', this)">
                                    <i class="fa-solid fa-check"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                    data-placement="top" title="Hủy dùng" data-id="@table.MaBanAn" onclick="setTableState('Trống', this)">
                                    <i class="fa-solid fa-xmark"></i>
                                </button>
                            </td>
                        </tr>
                    }    

                    @*<tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0001</td>
                        <td class="text-center align-middle">Bàn 1</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-success">Trống</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0002</td>
                        <td class="text-center align-middle">Bàn 2</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">8 người</td>
                        <td class="text-center align-middle text-warning">Đặt trước</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center align-middle">BA0003</td>
                        <td class="text-center align-middle">Bàn 3</td>
                        <td class="text-center align-middle">Hồ Chí Minh</td>
                        <td class="text-center align-middle">16 người</td>
                        <td class="text-center align-middle text-danger">Sử dụng</td>
                        <td class="text-center align-middle">
                            <button type="button" class="btn btn-outline-success" data-tooltip="tooltip"
                                data-placement="top" title="Sử dụng" data-id="BA0001">
                                <i class="fa-solid fa-check"></i>
                            </button>
                            <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                                data-placement="top" title="Hủy dùng" data-id="BA0001">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </td>
                    </tr>*@
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-danger">Xem thêm</button>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        // Tooltip
        $('[data-tooltip="tooltip"]').tooltip();

        function setTableState(state, target){
            const tableID = target.getAttribute("data-id");
           
            let API_URL = `https://localhost:5556/api/comnha/set-tables/${tableID}?tableState=${state}`;
            const options = {
                credentials: 'same-origin',
                method: 'PUT',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }

            fetch(API_URL, options)
                .then(json_result => {
                    return json_result.json();
                })
                .then(result => {
                    console.log(result);
                    if ( result.status ){
                        const tr = $(`#table-state-${tableID}`);
                        console.log(tr);
                        console.log(state);
                        tr.html(state);

                        if ( state == "Trống" ){
                            tr.removeClass("text-danger");
                            tr.removeClass("text-success");
                            tr.removeClass("text-primary");

                            tr.addClass("text-success");
                            console.log("HERE");

                        } else if ( state == "Đang sử dụng" )
                        {
                            tr.removeClass("text-danger");
                            tr.removeClass("text-success");
                            tr.removeClass("text-primary");

                            tr.addClass("text-danger");
                        } else if (state == "Đặt hẹn trước" )
                        {
                            tr.removeClass("text-danger");
                            tr.removeClass("text-success");
                            tr.removeClass("text-primary");

                            tr.addClass("text-primary");
                        } else
                        {
                            tr.removeClass("text-danger");
                            tr.removeClass("text-success");
                            tr.removeClass("text-primary");
                            tr.addClass("text-success");
                        }
                    }
                })
                .catch(error => {
                    //fadeError(error);
                })
        }
    </script>
}