@{
    ViewData["Title"] = "Thực đơn";
}

@{
   IEnumerable<Monan> foodList = ViewData["FoodList"] as IEnumerable<Monan>;
   IEnumerable<Nhommonan> foodGroupList = ViewData["FoodGroupList"] as IEnumerable<Nhommonan>;
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<head>
    <link rel="stylesheet" href="~/css/menu/style.css">
</head>

<div class="menu">
    <div class="container">
        <div class="menu-label">Thực đơn</div>
        <!-- Danh mục món ăn -->
        <div class="menu-nav">
            <div class="menu-nav__title">Danh mục:</div>
            <div class="row px-2">
                @{
                    if (foodGroupList != null)
                    {
                        bool isFirstGroup = false;
                        @foreach (Nhommonan foodGroup in foodGroupList)
                        {
                            if ( !isFirstGroup)
                            {
                                isFirstGroup = true;

                                <div class="col-6 col-sm-2 px-0">
                                    <div class="menu-nav__item active" data-category-id="@foodGroup.MaNhom">
                                        <i class="fas fa-sort-down"></i>
                                        @foodGroup.TenNhom
                                    </div>
                                </div>
                            } else
                            {
                                <div class="col-6 col-sm-2 px-0">
                                    <div class="menu-nav__item" data-category-id="@foodGroup.MaNhom">
                                        <i class="fas fa-sort-down"></i>
                                        @foodGroup.TenNhom
                                    </div>
                                </div>
                            }
                        }        
                    }           
                }              
            </div>
        </div>

        <!-- Danh sách món ăn -->
        <div class="menu-list mt-4">
            <div class="row menu-list-wrapper">
                @{
                    if (foodList != null)
                    {
                        @foreach (Monan food in foodList)
                        {
                            <div class="col-12 col-md-6 menu-item" data-food-id="@food.MaMonAn">
                            <div class="menu-item__wrapper d-flex flex-column align-items-center flex-lg-row">
                                <a href="/Menu/chitiet/@food.MaMonAn">
                                    <img                                        
                                        src="~/images/food-images/@food.HinhAnh" 
                                        alt="Img" 
                                        class="menu-item__img"
                                    >
                                </a>
                                <div class="menu-item__info d-flex flex-column justify-content-between py-2 px-3">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <a href="/Menu/chitiet/@food.MaMonAn" class="menu-item__name">
                                                @food.TenMonAn
                                            </a>
                                            <span class="menu-item__price">
                                                @food.DonGia.ToString("#,###", format.NumberFormat)đ
                                            </span>
                                        </div>
                                        <p class="menu-item__desc">
                                        @food.MoTa
                                        </p>
                                    </div>
                                    <button class="menu-item__order menu-item__order--add">
                                        <i class="fas fa-cart-plus"></i>
                                        Order
                                    </button>
                                    <button class="menu-item__order menu-item__order--added">
                                        Đã thêm
                                    </button>
                                </div>
                            </div>
                        </div>
                        }        
                    }
                }                     
            </div>
        </div>
    </div>
</div>


<script src="~/js/menu/control.js"></script>
