@{
    ViewData["Title"] = "Chi tiết nguyên vật liệu";
    Layout = "~/Views/Shared/_Layout_Private.cshtml";

    Nguyenvatlieu nguyenvatlieu = null;
    if ( ViewData.ContainsKey("DetailMaterial") && ViewData["DetailMaterial"] != null)
    {
        nguyenvatlieu = ViewData["DetailMaterial"] as Nguyenvatlieu;
    };

    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<div class="material-create">
    <div class="title">
        Chi tiết nguyên vật liệu
        <span></span>
    </div>
    <div class="material-create__content pt-2">
        <a href="/comnha/materials/" class="text-danger">Trở lại</a>
        <form class="needs-validation pt-4 px-md-5" novalidate method="POST">
     
            <div class="form-row">

                <div class="col-md-6 mb-2">
                    <label class="mb-1" for="unit">Mã nguyên vật liệu:</label>
                    <input type="text" class="form-control" id="material-id" name="material-id" placeholder="Nhập đơn vị"
                        value="@nguyenvatlieu.MaNguyenVatLieu" disabled readonly required>
                </div>
             
                <div class="col-md-6 mb-2">
                    <label class="mb-1" for="quantity">Tình trạng:</label>
                    <input type="text" class="form-control" id="state" name="state"
                        placeholder="Nhập số tình trạng" value="@nguyenvatlieu.TinhTrang" disabled readonly required>
                </div>
             
                <div class="col-12 mb-2">
                    <label class="mb-1" for="name">Tên nguyên vật liệu:</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nhập tên nguyên vật liệu"
                        value="@nguyenvatlieu.TenNguyenVatLieu" disabled readonly required>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-1" for="unit">Đơn giá:</label>
                    <input type="number" class="form-control" id="unit" name="unit" placeholder="Nhập đơn giá"
                        value="@nguyenvatlieu.DonGia" disabled readonly required>
                </div>
     
                <div class="col-md-3 mb-2">
                    <label class="mb-1" for="unit">Đơn vị:</label>
                    <input type="text" class="form-control" id="unit" name="unit" placeholder="Nhập đơn vị"
                        value="@nguyenvatlieu.DonVi" disabled readonly required>
                </div>
             
                <div class="col-md-3 mb-2">
                    <label class="mb-1" for="quantity">Số lượng:</label>
                    <input type="number" class="form-control" id="quantity" name="quantity"
                        placeholder="Nhập số lượng" value="@nguyenvatlieu.SoLuongTonKho" disabled readonly required>
                </div>
                    
            </div>
            <div class="d-flex flex-row justify-content-end mt-2">
                <a href="/comnha/materials/edit/@nguyenvatlieu.MaNguyenVatLieu" class="btn btn-outline-success mr-2">
                    <i class="fa-solid fa-pen-to-square"></i>
                    Sửa
                </a>
                <button type="button" class="btn btn-outline-danger" data-tooltip="tooltip"
                    data-placement="top" title="Xóa" data-toggle="modal" data-id="@nguyenvatlieu.MaNguyenVatLieu" data-img="" data-name="@nguyenvatlieu.TenNguyenVatLieu"
                    data-target="#delete-modal">
                        <i class="fa-solid fa-trash-can"></i>
                        Xóa
                </button>
            </div>
        </form>
    </div>
</div>


<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa nguyên vật liệu?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="modal-body__message">Do you want to delete ?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-confirm-delete" type="button" class="btn btn-danger">Xác nhận</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>


<form id="delete-form" name="delete-form" method="POST">
    <input type="hidden" name="deleted-material-id" value=""/>
</form>


@section Scripts{
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    $(document).ready(function () {
        const deleteForm = document.getElementById('delete-form')
        const btnDeleteCourse = document.getElementById('btn-confirm-delete')
        const modalMessage = document.querySelector('.modal-body__message')
        let id;

        // Tooltip
        $('[data-tooltip="tooltip"]').tooltip();

        // When single button delete clicked in each course
        $('#delete-modal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            id = button.data('name')
            $("input[name='deleted-material-id']").val(button.data('id'));
            modalMessage.innerHTML = `Bạn có thật sự muốn xóa nguyên vật liệu: <strong class="text-danger">${id}</strong> không?`
        })

        // When button delete clicked
        btnDeleteCourse.onclick = function () {
            const deletedID = $("input[name='deleted-material-id']").val();

            let API_URL = `https://localhost:5556/api/comnha/delete-material/${deletedID}`;
            const options = {
                credentials: 'same-origin',
                method: 'DELETE',
                mode: 'cors',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8',
                }
                //,
                //body: JSON.stringify({
                //    toTime: username,
                //    password: password
                //})
            };

            fetch(API_URL, options)
            .then(json_result => {
                return json_result.json();
            })
            .then(result => {
                console.log(result);
                if (result.status) {
                    window.location.href = "/comnha/materials";
                }
            })
            .catch(error => {
                //fadeError(error);
            })
        }
    });
</script>
}